<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <title>Login</title>
</head>
<body style="text-align: center">
    <p style="font-size: 25px; font-weight: bold;">VOIDITE</p>
    <!-- <p>Username:</p><input class="login" type="text" name="username"> -->
    <label for="user">User:</label> 
    <input class="login" name="user" type="text"><p></p>
    <label for="password">Password:</label>
    <input class="login" name="password" type="password"> 
    <p></p><input class="btn" type="submit" value="OK">
</body>
</html>