<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <title>Registration</title>
</head>
<body>
    <p style="font-size: 25px; font-weight: bold;">Create an account</p>
    <form class="logining" method="post">
        <input type="text" name="login" id="login" class="logining"><br>
        <input type="text" name="password" id="password" class="logining"><br>
        <input type="submit" class="logining" value="Create"><br>
    </form>
</body>
</html>